<!-- this form calls simpl-update directly since it loads another page
     it just doesn't seem to need to be an ajax call here -->
     
<form action="/simple-update" method="POST">
  <fieldset>
    <legend>Edit data in table</legend>
    <input type="text" name="name" id="name">
    <input type="number" name="reps" id="reps">
    <input type="number" name="weight" id="weight">
    <input type="date" name="date" id="date">
    <input type="checkbox" name="lbs" id="lbs">
    <input type="hidden" name="id" id="id" value="">
    <button>Submit</button>
  </fieldset>
</form>

<!-- this script pulls the id variable corresponding to the database from
     the html that redirects to this page. it's hacky but it works -->
     
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const myParam = urlParams.get('id');
  document.getElementById("id").setAttribute("value", myParam);
</script>
